<section class="section">
  <div class="container">
    <h1 class="title is-1">
      OSCWI
    </h1>


    <p class="subtitle">
      OSCWI eEnablement Application
    </p>

    <div class="columns">
      <div class="column">
        <h3 class="title is-3">
          OSCWI User ID Details
        </h3>
        <!-- <form id="addEntry"> -->
          <div class="field">
            <label class="label">ID Contact Name*</label>
            <div class="control">
              <input class="input" type="text" placeholder="Contact name" id="name" [(ngModel)]="formData.name">
            </div>
          </div>

          <div class="field">
            <label class="label">OSCWI ID*</label>
            <div class="control">
              <input class="input" type="text" placeholder="OSCWI ID" id="id"  [(ngModel)]="formData.id">
            </div>
          </div>

          <div class="field">
            <label class="label">ID Contact Email*</label>
            <div class="control">
              <input class="input" type="text" placeholder="Contact Email" id="email"  [(ngModel)]="formData.email">
            </div>
          </div>

          <div class="field">
            <label class="label">ID Contact Number*</label>
            <div class="control">
              <input class="input" type="number" placeholder="Contact Number" id="number"  [(ngModel)]="formData.number">

            </div>
          </div>

          <div class="control">
            <button class="button is-primary" (click)="handleFormSubmit($event)">Submit</button>
          </div>
        <!-- </form> -->
      </div>
    </div>
  </div>
</section>